body {
    background-color: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
}

.topnav {
    color: white;
    background-color: rgba(255, 255, 255, 0.575);
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    position: fixed;
    width: 100%;
    top: -64px;
}

.home {
    font-weight: bolder;
    padding: 12px;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.linktext {
    font-size: 45px;
    color: white;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}