html {
    min-width: fit-content;
}

body {
    background-color: rgb(61, 61, 61);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    color: white;
}

.all {
    opacity: 0%;
}

.text {
    text-align: center;
    font-weight: bolder;
    margin-top: 250px;
    font-size: 80px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.linktext {
    font-size: 45px;
    cursor: pointer;
}

.navlinks a {
    margin-left: 45px;
    margin-right: 45px;
}

.navlinks div {
    text-decoration: none;
    cursor: pointer;
    margin: 19px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    text-align: center;
}

.topnav {
    background-color: rgb(31, 31, 31);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.linktext {
    font-size: 45px;
}

.topnav div:hover {
    color: rgb(105, 34, 185);
    transition: 0.3s;
}

.topnav a:hover {
    color: rgb(105, 34, 185);
    transition: 0.3s;
}

.navlinks {
    padding: 0px;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    justify-content: center;
    margin-right: 100px;
}

.home {
    font-weight: bolder;
    padding: 12px;
    font-size: 35px;
    padding-left: 12px;
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pagecontent{
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-width: 100%;
}

.middlecontent {
    font-weight: bold;
    padding-top: 20px;
    font-size: 175%;
    text-align: center;
    height: 100px;
    height: 174px;
}

.onpagebuttons {
    background-color: rgb(27, 27, 27);
    justify-content: space-between;
    padding-top: 0px;
    height: 175px;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
}

.topnavbuttons {
    display: flex;
    margin: 0;
    padding: 9px;
}

.topbackgroundimage {
    background-color: rgb(34, 34, 34);
    /* background-image: url(testbanner.png); */
    background-size: cover;
}

.pagetextcontent {
    font-size: 200%;
    margin: auto;
    width: 75%;
    background-color: rgb(82, 82, 82);
    border-left: rgb(27, 27, 27) solid 4px;
    border-right: rgb(27, 27, 27) solid 4px;
}

.navbuttons {
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 150%;
    border: rgba(132, 51, 199, 0.473) solid 4px;
    border-radius: 15px;
    background-color: rgb(46, 42, 54);
    height: 30px;
    margin: auto;
}

.navbuttons:hover {
    border: rgba(87, 33, 131, 0.473) solid 4px;
    border-radius: 15px;
    background-color: rgb(27, 25, 32);
}

.navbuttonsactive {
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 150%;
    height: 30px;
    margin: auto;
    border: rgba(189, 189, 189, 0.473) solid 4px;
    border-radius: 15px;
    background-color: rgb(66, 66, 66);
}

.segmentleft{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    border-bottom: rgb(27, 27, 27) solid 4px;
    min-width: fit-content;
}

.segmentright{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    background-color: rgb(109, 109, 109);
    border-bottom: rgb(27, 27, 27) solid 4px;
    min-width: fit-content;
 }

.leftexamplepicture {
    max-height: 15vmax;
    max-width: auto;
    margin: 15px;
    border: rgb(43, 43, 43) solid 5px;
}

.rightexamplepicture {
    max-height: 15vmax;
    max-width: auto;
    margin: 15px;
    border: rgb(43, 43, 43) solid 5px;
}

.ovalrobotgallerypictures {
    max-height: 20vmax;
    margin: 5px;
    width: auto;
    border: rgb(43, 43, 43) solid 5px;
    border-radius: 20px;
    position: relative;
}

.nexttopicture {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  height: 300px;
  border-collapse:collapse;
  display : table;
}

.ovalrobotmorepictures {
    height: 0px;
    position: fixed;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 999;
    width: 100%;
    overflow-x: hidden;
}

.ovalrobotmorepicturesgallery {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%
    }

.seemorebuttonrow {
    display : table-row;
    vertical-align : bottom;
    height: 0px;
}

.seemorebutton {
    cursor: pointer;
    background-color: rgb(64, 27, 88);
    border:rgb(105, 34, 185) solid 3px;
    border-radius: 50px;
    width: 250px;
    margin: auto;
}

.seemorebutton:hover {
    background-color: rgb(39, 17, 54);
    border:rgb(66, 21, 117) solid 3px;
    border-radius: 50px;
}

.closeovalrobotbutton {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 150%;
    width: 10%;
    background-color: rgb(64, 27, 88);
    border:rgb(105, 34, 185) solid 3px;
    border-radius: 50px;
}

.segmentmiddle {
    margin: auto;
    text-align: center;
    height: 100vh;
}

.introductiontext {
    padding: 40px;
    padding-top: 15px;
}