body {
    background-color: rgb(61, 61, 61);
    background-size: cover;
    width: auto;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
}

.text {
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-top: 250px;
    font-size: 80px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.linktext {
    font-size: 45px;
    color: white;
    cursor: pointer;
}

.navlinks a {
    margin-left: 45px;
    margin-right: 45px;
}

.navlinks div {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 19px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    text-align: center;
}

.topnav {
    background-color: rgb(31, 31, 31);
    color: white;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.linktext {
    font-size: 45px;
    color: white;
}

.topnav div:hover {
    color: rgb(105, 34, 185);
    transition: 0.3s;
}

.topnav a:hover {
    color: rgb(105, 34, 185);
    transition: 0.3s;
}

.navlinks {
    padding: 0px;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    justify-content: center;
    margin-right: 100px;
}

.home {
    font-weight: bolder;
    padding: 12px;
    font-size: 35px;
    padding-left: 12px;
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pagecontent{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.onpagebuttons {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    height: 0px;
    color: white;
    font-weight: bold;
    padding-left: 50px;
    padding-right: 50px;
    opacity: 0%;
}

.contentcontainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: fixed;
}

.pagetextcontent {
    font-size: 200%;
    margin: 0px;
    color: white;
}

.rightnavbutton, .leftnavbutton {
    margin-top: 50px;
    cursor: pointer;
    transform: translateY(-60px);
    width: 250px;
    font-size: 150%;
}

.rightnavbutton {
    text-align: right;
}

.middlecontent {
    font-weight: bold;
    transform: translateY(-100px);
    padding-top: 20px;
    font-size: 175%;
    text-align: center;
}

.myname {
    font-size: 120%;
    padding-bottom: 20px;
}

.ovalrobot {
   display: flex;
}

.ovalrobotexample {
    height: 250px;
    margin: 5px;
    width: auto;
    border: rgb(43, 43, 43) solid 5px;
    position: relative;
}

.ovalrobotgallerypictures {
    height: 400px;
    margin: 5px;
    width: auto;
    border: rgb(43, 43, 43) solid 5px;
    border-radius: 20px;
    position: relative;
}

.nexttopicture {
  padding-left: 10px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.ovalrobotmorepictures {
    height: 0px;
    position: fixed;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 999;
    color: white;
    width: 100%;
    overflow-x: hidden;
}

.ovalrobotmorepicturesgallery {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%
    }

.seemoreovalrobotbutton {
    cursor: pointer;
}

.closeovalrobotbutton {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 150%;
    width: 10%;
    background-color: rgb(64, 27, 88);
    border:rgb(105, 34, 185) solid 5px;
    border-radius: 50px;
}