html {
    min-width: fit-content;
}

body {
    background-color: #dad3d6;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #1a1a19;
}

.all {
    opacity: 0%;
}

.topbackgroundimage {
    background-color: #beb8bb;
    /* background-image: url(testbanner.png); */
    background-size: cover;
    border-bottom: 2px solid rgb(37, 37, 37);
}

.text {
    text-align: center;
    font-weight: bolder;
    margin-top: 250px;
    font-size: 80px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.linktext {
    font-size: 45px;
    cursor: pointer;
}

.navlinks a {
    margin-left: 45px;
    margin-right: 45px;
}

.navlinks div {
    text-decoration: none;
    cursor: pointer;
    margin: 19px;
    margin-left: 20px;
    margin-right: 20px;
    width: 150px;
    text-align: center;
}

.linktext {
    font-size: 45px;
}

.navlinks {
    padding: 0px;
    text-decoration: none;
    display: flex;
    font-size: 22px;
    justify-content: center;
    margin-right: 100px;
}

.home {
    font-weight: bolder;
    padding: 12px;
    font-size: 35px;
    padding-left: 12px;
    cursor: pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pagecontent{
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-width: 100%;
}

.middlecontent {
    font-weight: bold;
    padding-top: 20px;
    font-size: 175%;
    text-align: center;
    height: 100px;
    height: 75px;
}

.topnavbuttons {
    display: flex;
    margin: 0;
    padding: 9px;
}

.pagetextcontent {
    font-size: 200%;
    margin: auto;
    width: 75%;
    background-color: rgb(82, 82, 82);
    border-left: rgb(27, 27, 27) solid 4px;
    border-right: rgb(27, 27, 27) solid 4px;
}

.navbuttons {
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 150%;
    color: rgb(45, 46, 49);
    height: 30px;
    margin: auto;
}

.navbuttons:hover {
    color: rgb(30, 100, 230);
}

.navbuttonsactive {
    text-align: center;
    cursor: pointer;
    width: 250px;
    font-size: 150%;
    height: 30px;
    margin: auto;
    color: rgb(0, 38, 255);
    font-weight: bold;
}

.segmentleft{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    background-color: rgb(204, 204, 204);
    border-bottom: rgb(27, 27, 27) solid 4px;
    min-width: fit-content;
}

.segmentright{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    background-color: rgb(177, 177, 177);
    border-bottom: rgb(27, 27, 27) solid 4px;
    min-width: fit-content;
 }

.leftexamplepicture {
    max-height: 15vmax;
    max-width: auto;
    margin: 15px;
    border: rgb(43, 43, 43) solid 5px;
}

.rightexamplepicture {
    max-height: 15vmax;
    max-width: auto;
    margin: 15px;
    border: rgb(43, 43, 43) solid 5px;
}

.gallerypictures {
    max-height: 20vmax;
    margin: 5px;
    width: auto;
    border: rgb(112, 112, 112) solid 5px;
    border-radius: 20px;
    position: relative;
}

.nexttopicture {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  height: 300px;
  border-collapse: collapse;
  display : table;
}

.showmorepictures {
    height: 0px;
    position: fixed;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 999;
    width: 100%;
    overflow-x: hidden;
}

.morepicturesgallery {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%
}

.seemorebuttonrow {
    display : table-row;
    vertical-align : bottom;
    height: 0px;
}

.seemorebutton {
    cursor: pointer;
    color: rgb(45, 46, 49);
    border-radius: 50px;
    width: 250px;
    margin: auto;
}

.seemorebutton:hover {
    color: rgb(30, 100, 230);
}

.closegallerybutton {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 150%;
    width: 10%;
    color: #d1cbce;
}

.closegallerybutton:hover {
    color: rgb(30, 100, 230);
}

.segmentmiddle {
    margin: auto;
    text-align: center;
    height: 100vh;
    background-color: rgb(204, 204, 204);
}

.introductiontext {
    padding: 40px;
    padding-top: 15px;
}

.sampletext {
    font-size: 16pt;
}